# **My Jupyter Notebook on IBM Data Science Experience**

I am interested in data science because I love telling stories with data and using data to help bring that data to life.I love helping others. In data science that could be helping a business understand its customers or improving the way it uses its customer data.

**Division in Python : When you divide in Python 3, your quotient will always be returned as a float, even if you use two integers:**

In [1]:
80/5

16.0

This is a Bullet Point
Below this line is a Horizontal Rule

This is a Numbered List
Here is a Sample Markdown Table ->

---


Name	Address	Salary
Stacy	Sydney	500

In [2]:
# Code & Syntax Highlighting in Python
import antigravity



> This is a Block quote

Erase your mistakes using strike-through like this.